* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    font-family: Arial;
}

nav {
    background-color: white;
	box-shadow: 0px 1px 1px rgba(1,27,64,.1);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 12;
}

label.logo {
    margin-left: 0;
}
.logoim {
    height: 3.3rem;
    width: 21rem;
    margin-top: .9rem;
    object-fit: fill;
	margin-left:.9rem;
    object-position: -30px 0;
}
#click{
    display:none;
}
nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: black;
            font-size: 16px;
			  font-weight:bold;
            padding: 10px 15px;
            border-radius: 3px;
        }

a.active, a:hover {
    background: #00630f;
	color: #ffffff;
    transition: .2s;
   
   
}
nav .menubtn{
    display:none;
}

#particles-js h1 {
		 position:absolute;
        padding-top: 11%;
	
        font-family: "Poppins", sans-serif;
        text-align: left;
		 font-weight: 900;
		 line-height:55px;
		 letter-spacing: 6px;
        text-transform: uppercase;
        color: black;
		 padding-left: 7%;
		 

 }
.d1{
	color:#00630f;
	font-size: 51px;
	font-stretch:ultra-expanded;
}
.d2{
	color:black;
	font-size: 51px;
	font-stretch:ultra-expanded;
}
 #particles-js{
	 width: 100%;
    margin-top: 0px;
    height: 400px;
	background:#000;
    position: relative;
    background-size: cover;
    background-position: center center;
	background: linear-gradient(45deg,#e8ffec,#3dff61);

	 
 }
.veg1{
	position:absolute;
	float:right;
	object-fit:fill;
	/*height:23rem;
	width:28rem;*/
	height:53%;
	width:31%;
	margin-top:-25%;
	background-color: transparent;
    background-repeat:no-repeat;
    margin-right:1%;
	margin-left:65%;
}

.container1 {
    width: 100%;
    position: relative;
    top: 0px;
    background-color: white;
    height: 890px;
}
.Para1 {
    width: 100%;
    position: relative;
    height: 390px;
    padding-left: 7%;
	padding-right:7%;
}


.Para1 h2 {
        padding-top: 30px;
}

.Para1 p {
    padding-top: 20px;
    font-size: 18px;
    font-family: Arial;
    line-height: 35px;
}


/*banner2 with blur box*/

.ban1{
	width:100%;
	object-fit:fill;
	height:500px;
}
.blurbox {
  position: relative;
}

/* Bottom right text */
.blurbox1 {
  position: absolute;
  bottom:180px;
  align-items:center;
  background-color: rgba(0,0,0,.65);
  backdrop-filter: blur(5px);
  font-size: 24px;
  color: white;
  width:60%;
  height:30%;
  margin-left:20%;
  padding-top: 46px;
  text-align:center;
  border: 0.5px solid black;
}



.hww h2{
    text-align:center;
	padding-top:30px;
}



.subcont{
	background-color: #fafafa;
	height:900px;
	width:100%;
	top:0;
	float:right;

}
.cont1 {
    width: 35%;
    position: relative;
    height: 300px;
    float: right;
    margin-left: 5%;
    margin-right: 10%;
    background-color: white;
    border-radius: 10px;
 
}

.cont1 h3 {
        padding-top: 20px;
        text-align: center;
    }

.cont1 p {
        padding-top: 15px;
        text-align: center;
        margin-left: 9px;
        margin-right: 9px;
        line-height: 28px;
    }

.cont2 {
    width: 35%;
    position: relative;
    height: 300px;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    background-color: white;
    border-radius: 10px;
   
}

.cont2 h3 {
        padding-top: 20px;
        text-align: center;
}

.cont2 p {
        padding-top: 15px;
        text-align: center;
        margin-left: 9px;
        margin-right: 9px;
        line-height: 28px;
}

.spc1{
    width:100%;
    height:50px;
    float:right;
}
.cont3 {
    width: 35%;
    position: relative;
    height: 350px;
    float: right;
    margin-left: 5%;
    margin-right: 10%;
    background-color: white;
    border-radius: 10px;
 
}

.cont3 h3 {
        padding-top: 20px;
        text-align: center;
}

.cont3 p {
        padding-top: 15px;
        text-align: center;
        margin-left: 9px;
        margin-right: 9px;
        line-height: 28px;
}

.cont4 {
    width: 35%;
    position: relative;
    height: 350px;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    background-color: white;
    border-radius: 10px;
  
}

.cont4 h3 {
        padding-top: 20px;
        text-align: center;
}

.cont4 p {
        padding-top: 15px;
        text-align: center;
        margin-left: 9px;
        margin-right: 9px;
        line-height: 28px;
 }


.foot {
    width: 100%;
    bottom: 0;
    height: 500px;
    float: right;
    background-color: black;
    color: white;
    margin-top: 0px;
}
.foot p{
    text-align:center;
	 

}
.sitemap{
	width:30%;
	height:150px;
	float:left;
	margin-left:10%;
	margin-right:10%;
}


.sitemap a{
	color:white;
	text-decoration:none;

	
}
.sitemap a:active{
	background:black;

}
.sm2 a: hover{
	width:200px;
	background-color: cyan;
	border-radius:15px;
	
}
.sm2 a:link{
	text-decoration:none;
}
.sm1{
	width:20%;
	float:left;
}
.sm2{
	width:60%;
	float:left;
	padding-left: 20%;
}
.contact{
	width:35%;
	height:150px;
	float:right;
	margin-left:5%;
	margin-right:10%;

	
}
.sm3{
	width:36%;
	float:left;
}
.sm4{
	width: 64%;
	float: left;
	text-align:left;
	padding-top:0;
	margin-top:0;
}
.sm4 p{
	line-height:18px;
	font-size: 16px;
	text-align:left;
	padding-top:0;
}
	
.copyrt{
	width:100%;
	float:right;
}
.copyrt{
	padding-top:120px;
}

.social {
    width: 65%;
    position: relative;
    height: 180px;
    float: right;
    margin-left: 17.5%;
	text-decoration:none;
    margin-right: 17.5%;
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
    
}
    .social h4 {
        text-align: center;
        padding-top: 10px;
        color: white;
    }



/*Social button*/

.w1{
    margin-left:26%;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 56px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin:13px;
  float:center;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #ff2b87;
  color: white;
}
.fa:hover {
  padding: 20px;
  font-size: 30px;
  width: 66px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top:1px;
  margin-right: 8px;
  margin-left:8px;
}
